main {
  min-height: 80vh;
}
h3 {
  padding: 1rem 0;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.rating span {
  margin: 0.1rem;
}
.carousel {
  border-radius: 2%;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h2 {
  color: #fff;
}
.carousel img {
  height: 300px;
  padding: 50px;
  margin: 30px 0;
  border-radius: 30%;
  border: dodgerblue;
  justify-content: center;
}
.carousel a {
  margin: 0 auto;
}
.img-modify {
  width: 100%;
  height: 100%;
}
.pagination {
  justify-content: center;
}

@media (max-width: 1200px) {
  .carousel-caption h2 {
    margin: -12px;
    font-size: medium;
  }
}
